body {
	margin: 0; 
	padding: 0;
	font-family: Verdana, arial, "lucida console", sans-serif;
	font-size: 10px;
	color: #000;
	background-color: #ddd;
	overflow:hidden;
}

h1 {
	color: #FFF;
}

#container{
	overflow:hidden;
}

#banner {
	background-image: url('../images/headerFooter.png');
	background-repeat: repeat-x;
	background-position: bottom;
	height: 60px;
}

#banner h1 {
	margin: 0;
	padding: .5em;
	float: left;
}

#footer {
   background-image: url('../images/headerFooter.png');
   background-repeat: repeat-x;
   position:absolute;
   bottom:0;
   width:100%;
   height:35px;   /* Height of the footer */
}

#content
{
}

#content h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

.sliderMenu .menuHeader {
	background-image: url('../images/slideMenu.png');
	width: 100%;
	height: 20px;
}

.sliderMenu .menuContent {
	background-image: url('../images/slideMenuCenter.png');
	background-repeat: repeat-y;
	background-position: center; 
	min-height: 10px;
}

.sliderMenu .expandable .menuContent{
	min-height: 350px;
}

.sliderMenu .menuFooter {
	background-image: url('../images/slideMenu.png');
	width: 100%;
	height: 20px;
}

.sliderMenu.left .menuHeader {
	background-position: right top; 
}

.sliderMenu.left .menuContent {
	background-position: right center; 
}

.sliderMenu.left .menuFooter {
	background-position: right bottom; 
}

.sliderMenu.right .button {
	background-position: left top; 
}

.sliderMenu.right .menuContent {
	background-position: left center; 
}

.sliderMenu.right .menuFooter {
	background-position: left bottom; 
}

.sliderMenu .button {
	width: 40px;
	position: inherit;
	left: inherit;
	right: inherit;
	top: -20px;
}

.sliderMenu .button {
	width: 40px;
	position: absolute;
}

.sliderMenu.left {
	width: 300px;
}

.sliderMenu.right {
	width: 300px;
	right: 0px;
}

.sliderMenu {
	top: 45px;
	position:absolute;
}

#leftArrow {
	top: 60px;
	left: 2px;
	width: 11px;
	height: 30px;
	background-image: url('../images/arrows.png');
	background-position: 18px -1px; 
	position: absolute;
}

#leftArrow:hover {
	background-position: -5px -1px; 
}

#leftArrow.expanded {
	background-position: 18px 31px;
}

#leftArrow.expanded:hover {
	background-position: -5px 31px; 
}

#rightArrow {
	top: 60px;
	right: 2px;
	width: 11px;
	height: 30px;
	background-image: url('../images/arrows.png');
	background-position: 18px 31px; 
	position: absolute;
}

#rightArrow:hover {
	background-position: -5px 31px; 
}

#rightArrow.expanded {
	background-position: 18px -1px;
}

#rightArrow.expanded:hover {
	background-position: -5px -1px; 
}

