<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <link rel="stylesheet" href="static/css/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="static/css/dipper.css" type="text/css" media="all" />
    
    <script src="static/js/jquery-1.6.1.js" type="text/javascript"></script> 
    <script src="static/js/jquery.cookie.js" type="text/javascript"></script>

    </head>
        <body>
        <div id="container">
        	<div id="banner">
        		<h1>Dipper</h1>
        	</div>
        	<div id="content">
			</div>
        </div>
    </body>
</html>